@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}
li {
  list-style: none;
}

body {
  font-family: Epilogue;
  font-size: 18px;
  color: hsl(0, 0%, 8%);
}

.attribution {
  margin: 1em 0;
  font-size: 1rem;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}

@media screen and(max-width:600px) {
  .attribution {
    width: 80%;
    padding: 1em;
    margin: 1em auto;
    font-size: 1rem;
    text-align: center;
    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
